.burger {
  margin: 0px;
  padding: 0px;
  background-color: #ffffff;
  border: none;
  &:focus,
  &:hover {
    fill: #2196f3;
  }
}
.mobile-menu.is-open {
  transform: translateX(0);
}
.mobile-menu {
  overflow-y: scroll;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  transform: translateX(100%);
  transition: tranform 500ms;
  &__close {
    margin: 0px;
    padding: 0px;
    background-color: #ffffff;
    border: none;
    position: absolute;
    top: 10px;
    right: 15px;
  }
  &__close:hover,
  &__close:focus {
    fill: #2196f3;
  }
  &__nav {
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
    
  }
  &__link {
    color: #212121;
  }
  &__adress {
    margin-top: 306px;
    
  }
  &__post {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;

    color: #757575;
    
  }
  &__tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: #2196f3;
    
  }
  &__social{
    margin-top: 64px;
    gap: 10px;
    display: flex;
    font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      
      letter-spacing: 0.02em;
  }
  &__container{
    padding: 48px;
  }
}
.mobile-menu__insta{
  color: #2196F3;
}
.mobile-menu__nav .mobile-menu__link.current{
  color: var(--color-third);
}
.mobile-menu__nav>li:not(:last-child){
  margin-bottom: 32px;
}
.mobile-menu__adress>li:not(:last-child){
  margin-bottom: 32px;
}